@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  font-family: "Oswald", sans-serif;
}

a {
  color: rgb(219,57,71);
}

a:hover {
  color: rgb(241,187,69);
}
